{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block body %}
<div class="container">
    <h1>Cadastrar usuario</h1>

    {% if erro %}
    <p style="color: red;">{{ erro }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Nome</label><br>
            <input type="text" name="nome" required>
        </p>
        <p>
            <label>Email</label><br>
            <input type="email" name="email" required>
        </p>
        <p>
            <label>Senha</label><br>
            <input type="password" name="senha" required>
        </p>
        <button type="submit">Cadastrar</button>
    </form>

    <p><a href="{% url 'login' %}">Voltar para o login</a></p>
</div>
{% endblock %}
